body
{
	background:url(img/bg.jpg);
	background-size: 100% 100%;
}
#content
{
	margin:auto;
}
#logo
{
	background:url(img/logo.png);
	background-size: 100% 100%;
	width:250px;
	height: 200px;
	margin:auto;
}
#titolo
{
	margin-top: -5%;
	color:red;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.blockdata
{
	width:100px;
	height:60px;
	border:2px solid black;
	background:url(img/bgcalendario.png);
	color:white;
}
.blockdatagreen
{
	width:100px;
	height:60px;
	border:2px solid black;
	background:url(img/bgcalendariook.png);
	color:white;
}
table
{
	background:url(img/bgred.png);
	color:white;
	border:5px solid black;
	margin-top: -5%;
	margin-left: auto;
	width:90%;
	
}
a
{
	color:red;
}
.top
{
	height:15px;
	width:100%;
	text-align:left;
}
.bottom
{
	height:45px;
	width:100%;
}

.bottone
{
	margin-top: 1%;
	margin-left: 45%;
	width:130px;
	height:50px;
	background:url(img/bottone5.png);
	background-size: 100% 100%;
	border:0;
	color:white;
	
}
.bottone:hover
{
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: brightness(130%);
}
#wrapper
{
	width:1350px;
	height: 400px;
	color: white;
	margin: auto;
}
#content
{
	margin:auto;
	width:730px;
	height:400px;
}
#form
{
	border:3px solid black;
	background:url(img/bgred.png);
	background-size: 100% 100%;
	width: 50%;
	height: 40%;
	margin: auto;
	color: white;
	text-align:center;
	border-radius: 10% 10% 10% 10%;
}
#msg
{
	border:3px solid black;
	background:url(img/bgred.png);
	background-size: 100% 100%;
	width: 50%;
	height: 20%;
	line-height:2;
	margin: auto;
	color: white;
	text-align:center;
	border-radius: 10% 10% 10% 10%;
}
#bottone_form
{
	margin:4% auto;
}

#lista,#form_modifica,#form_cancella
{
	border:3px solid black;
	background:url(img/bgred.png);
	background-size: 100% 100%;
	width: 60%;
	margin: auto;
	color: white;
	text-align:center;
	border-radius: 10% 10% 10% 10%;
}
#bottone_lista,#bottone_modifica,#bottone_cancella
{
	margin:auto;
}